{% extends "admin/base_site.html" %}

{% block extrahead %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
      const header = document.getElementById("header");
      if (header) {
        header.innerHTML = `
          <div id="branding">
            <div id="site-name"><a href="/admin/">eCommerce - System</a></div>
          </div>
        `;
      }
    });
</script>
{% endblock %}

{% block content %}
<style>
    body {
      background-color: white;
    }

    h2 {
      color: black;
    }

</style>

<h2>THỐNG KÊ TÀI KHOẢN</h2>
<table>
    <thead>
    <tr>
        <th>Role</th>
        <th>Số lượng</th>
    </tr>
    </thead>
    <tbody>
    {% for r in stats_account %}
    <tr>
        <td>{{ r.name_role }}</td>
        <td>{{ r.count }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<div>
    <canvas id="myChart"></canvas>
</div>

<script>
    window.onload = () => {
      let labels = [];
      let values = [];

      {% for r in stats_account %}
        values.push({{ r.count }});
        labels.push('{{ r.name_role }}');
      {% endfor %}

      const ctx = document.getElementById('myChart');

      new Chart(ctx, {
        type: 'bar',
        data: {
          labels: labels,
          datasets: [{
            label: 'Số lượng',
            data: values,
            backgroundColor: [
              'rgba(255, 99, 132, 0.2)',
              'rgba(255, 159, 64, 0.2)',
              'rgba(255, 205, 86, 0.2)',
              'rgba(75, 192, 192, 0.2)',
              'rgba(54, 162, 235, 0.2)',
              'rgba(153, 102, 255, 0.2)',
              'rgba(201, 203, 207, 0.2)'
            ],
            borderColor: [
              'rgb(255, 99, 132)',
              'rgb(255, 159, 64)',
              'rgb(255, 205, 86)',
              'rgb(75, 192, 192)',
              'rgb(54, 162, 235)',
              'rgb(153, 102, 255)',
              'rgb(201, 203, 207)'
            ],
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });
    };

</script>
{% endblock %}
