{% extends "vnpay/base_layout.html" %}
{% block content %}
<style>
    .btn-confirm {
        background-color: #4CAF50;
        color: white;
        padding: 8px 12px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
</style>
<h3>{{ title }}</h3>
<div>
    <form action="{% url 'payment' %}" id="create_form" method="post">
        <div class="form-group">
            <label for="language">Loại thanh toán </label>
            <select name="order_type" id="order_type" class="form-control">
                <option value="billpayment" selected>Thanh toán hóa đơn</option>
            </select>
        </div>

        <div class="form-group">
            <label for="order_desc">Mã giỏ hàng</label>
            <input class="form-control" id="order_desc" name="order_desc" value="" readonly/>
        </div>

        <div class="form-group">
            <label for="order_id">Mã hóa đơn</label>
            <input class="form-control" id="order_id"
                   name="order_id" type="text" value="{% now " YmdHis" %}" readonly/>
        </div>


        <div class="form-group">
            <label for="amount">Số tiền</label>
            <input class="form-control" id="amount"
                   name="amount" type="number" value="10000" readonly/>
        </div>


        <!--        <div class="form-group">-->
        <!--            <label for="order_desctest">Sản phẩm thanh toán</label>-->
        <!--            <textarea class="form-control" cols="20" id="order_desctest" name="order_desctest" rows="4" readonly></textarea>-->
        <!--        </div>-->


        <div class="form-group">
            <label for="bank_code">Ngân hàng</label>
            <select name="bank_code" id="bank_code" class="form-control">
                <!--                <option value="">Không chọn</option>-->
                <option value="NCB"> Ngan hang NCB</option>
                <!--            <option value="AGRIBANK"> Ngan hang Agribank</option>-->
                <!--            <option value="SCB"> Ngan hang SCB</option>-->
                <!--            <option value="SACOMBANK">Ngan hang SacomBank</option>-->
                <!--            <option value="EXIMBANK"> Ngan hang EximBank</option>-->
                <!--            <option value="MSBANK"> Ngan hang MSBANK</option>-->
                <!--            <option value="NAMABANK"> Ngan hang NamABank</option>-->
                <!--            <option value="VNMART"> Vi dien tu VnMart</option>-->
                <!--            <option value="VIETINBANK">Ngan hang Vietinbank</option>-->
                <!--            <option value="VIETCOMBANK"> Ngan hang VCB</option>-->
                <!--            <option value="HDBANK">Ngan hang HDBank</option>-->
                <!--            <option value="DONGABANK"> Ngan hang Dong A</option>-->
                <!--            <option value="TPBANK"> Ngân hàng TPBank</option>-->
                <!--            <option value="OJB"> Ngân hàng OceanBank</option>-->
                <!--            <option value="BIDV"> Ngân hàng BIDV</option>-->
                <!--            <option value="TECHCOMBANK"> Ngân hàng Techcombank</option>-->
                <!--            <option value="VPBANK"> Ngan hang VPBank</option>-->
                <!--            <option value="MBBANK"> Ngan hang MBBank</option>-->
                <!--            <option value="ACB"> Ngan hang ACB</option>-->
                <!--            <option value="OCB"> Ngan hang OCB</option>-->
                <!--            <option value="IVB"> Ngan hang IVB</option>-->
                <!--            <option value="VISA"> Thanh toan qua VISA/MASTER</option>-->
            </select>
        </div>
        <div class="form-group">
            <label for="language">Ngôn ngữ</label>
            <select name="language" id="language" class="form-control">
                <option value="vn">Tiếng Việt</option>
                <option value="en">English</option>
            </select>
        </div>

        <button type="submit" class="btn-confirm">Xác nhận thông tin</button>
        {% csrf_token %}
        <div class="form-group"></div>
    </form>
</div>
<!--<script>-->
<!--    var orderType = document.getElementById("order_type");-->
<!--    var orderId = document.getElementById("order_id");-->

<!--    orderType.value = localStorage.getItem("order_type");-->
<!--    orderId.value = localStorage.getItem("order_id");-->

<!--</script>-->
{% endblock %}
