asd {
  background-color: #d4d4d4;
}
sd {
  background-color: #00da00;
  text-align: start;
  justify-content: space-between;
}

df {
  background-color: #f55939;
  align-items: flex-end;
  justify-content: flex-start;
}
