asd {
  background-color: #b3b3b3;
}
sd {
  background-color: #aa0000;
  text-align: start;
  justify-content: space-between;
}

df {
  background-color: #db3918;
  align-items: flex-end;
  justify-content: flex-start;
}
