asd {
  background-color: #7b00e0;
}
sd {
  background-color: #f8f8f8;
  text-align: start;
  justify-content: space-between;
}

df {
  background-color: #ee4d2d;
  align-items: flex-end;
  justify-content: flex-start;
}
